* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  --white-bg:#fff;
  --nav-color:rgb(24, 24, 24);
  --nav-hover:rgb(20, 168, 0);
  --form-bg:#E9E9E9;
  --nav-font:"Neue Montreal", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  cursor: pointer;
}

